@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../../Content/css/cssMain.css" rel="stylesheet"/>
<link href="../../Content/css/bootstrap.min.css" rel="stylesheet" />
<img src="../../Content/Image/gioi-thieu.jpg" height="500px" width="100%"/>

<br /><br /><br />
<h1 style="font-size:30px">TIN TỨC</h1>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="../../Content/Image/19bb2390e973112d4862.jpg" height="250px" width="400px" style="margin-bottom:10px"/>
            <h2 style="font-weight:bold;font-size:18px">Thông báo Về việc tiếp tục tạm dừng tập trung học tại các cơ sở của Trường đến hết ngày 01/03/2020</h2>
            <p>Toàn thể người học tại TDTU tiếp tục tạm dừng tập trung học tại các cơ sở của Trường từ ngày 24/02/2020 cho đến hết ngày 01/03/2020.</p>
        </div>
        <div class="col-md-4">
            <img src="../../Content/Image/8f6b1d621-f.jpg" height="250px" width="400px" style="margin-bottom:10px"/>
            <h2 style="font-weight:bold;font-size:18px">Thông báo Về việc tiếp tục tạm dừng tập trung học tại các cơ sở của Trường đến hết ngày 01/03/2020</h2>
            <p>Toàn thể người học tại TDTU tiếp tục tạm dừng tập trung học tại các cơ sở của Trường từ ngày 24/02/2020 cho đến hết ngày 01/03/2020.</p>
        </div>
        <div class="col-md-4">
            <img src="../../Content/Image/bina_10.jpg"  height="250px" width="400px" style="margin-bottom:10px"/>
            <h2 style="font-weight:bold;font-size:18px">Thông báo Về việc tiếp tục tạm dừng tập trung học tại các cơ sở của Trường đến hết ngày 01/03/2020</h2>
            <p>Toàn thể người học tại TDTU tiếp tục tạm dừng tập trung học tại các cơ sở của Trường từ ngày 24/02/2020 cho đến hết ngày 01/03/2020.</p>
        </div>
    </div>
    <button class="bg-danger" style="height:50px;width:150px;color:white;font-size:20px" align="right">TIN KHÁC</button>
    <br /><br />
    <div style="background-color:#f6f1b4" class="col-md-12">
        <br /><br />
        <h1 style="font-size:30px">SỰ KIỆN</h1>
        <br />
        <div class="row" style="background-color:#f6f1b4">
            <div class="col-md-4">
                <img src="../../Content/Image/hufi_ts4.jpg" height="250px" width="400px" style="margin-bottom:10px"/>
                <h2 style="font-weight:bold;font-size:18px">Thông báo Về việc tiếp tục tạm dừng tập trung học tại các cơ sở của Trường đến hết ngày 01/03/2020</h2>
                <p>Toàn thể người học tại TDTU tiếp tục tạm dừng tập trung học tại các cơ sở của Trường từ ngày 24/02/2020 cho đến hết ngày 01/03/2020.</p>
            </div>
            <div class="col-md-4">
                <img src="../../Content/Image/dien-chuan-bao-nhieu.jpg" height="250px" width="400px" style="margin-bottom:10px"/>
                <h2 style="font-weight:bold;font-size:18px">Thông báo Về việc tiếp tục tạm dừng tập trung học tại các cơ sở của Trường đến hết ngày 01/03/2020</h2>
                <p>Toàn thể người học tại TDTU tiếp tục tạm dừng tập trung học tại các cơ sở của Trường từ ngày 24/02/2020 cho đến hết ngày 01/03/2020.</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                <div class="bg-danger col-sm-3" style="height:80px;width:80px;color:white;font-size:20px">28<br />Tháng2</div>
                <p class="col-sm-9">Cuộc thi khởi nghiệp: HUFI STARTUP WINGS</p>
                </div><br />
                <div class="row">
                <div class="bg-danger col-sm-3" style="height:80px;width:80px;color:white;font-size:20px">28<br />Tháng2</div>
                <p class="col-sm-9">Cuộc thi khởi nghiệp: HUFI STARTUP WINGS</p>
                </div><br />
                <div class="row">
                <div class="bg-danger col-sm-3" style="height:80px;width:80px;color:white;font-size:20px">28<br />Tháng2</div>
                <p class="col-sm-9">Cuộc thi khởi nghiệp: HUFI STARTUP WINGS</p>
                </div><br />
                <div class="row">
                <div class="bg-danger col-sm-3" style="height:80px;width:80px;color:white;font-size:20px">28<br />Tháng2</div>
                <p class="col-sm-9">Cuộc thi khởi nghiệp: HUFI STARTUP WINGS</p>
                </div><br />
            </div>
        </div>
        <button class="bg-danger" style="height:50px;width:250px;color:white;font-size:20px;margin-bottom:10px;margin-right:10px" align="right">SỰ KIỆN KHÁC</button>
        <br />
    </div>
    <br /><br />
    <h1 style="font-size:30px">TẠI SAO NÊN CHỌN HUFI ĐỂ XÂY DỰNG TƯƠNG LAI?</h1>
    <br />
    <div class="row">
        <div class="col-md-4">
            <img src="../../Content/Image/co-cau-to-chuc.png" height="250px" width="400px" style="margin-bottom:10px" align="center"/>
            <h3 style="font-weight:bold;font-size:18px">1-HUFI là đại học số 1 Việt Nam và Top 1000 đại học tốt nhất thế giới</h3>
        </div>
        <div class="col-md-4">
            <img src="../../Content/Image/fb43c61fb2-9.jpg" height="250px" width="400px" style="margin-bottom:10px" align="center"/>
            <h3 style="font-weight:bold;font-size:18px">2-Điều kiện, phương pháp dạy và học chuyên dụng, hiện đại</h3>
        </div>
        <div class="col-md-4">
            <img src="../../Content/Image/hieu0199.jpg" height="250px" width="400px" style="margin-bottom:10px" align="center"/>
            <h3 style="font-weight:bold;font-size:18px">3-Lực lượng chuyên môn hùng mạnh và chuyên nghiệp</h3>
        </div>
    </div><br /><br />
    <div class="row">
        <div class="col-md-3">
            <img src="../../Content/Image/296x167x1-4.jpg" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:18px">4-Chương trình giáo dục đại học và sau đại học  tiên tiến</h3>
        
        </div>
        <div class="col-md-3">
            <img src="../../Content/Image/tot-nghiep-2019.png" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:18px">5-Môi trường học tập tiêu chuẩn quốc tế 5 sao</h3>
        </div>
        <div class="col-md-3">
            <img src="../../Content/Image/8f6b1d621-f.jpg" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:18px">6-Chuẩn đầu ra của giáo dục đạt tầm quốc tế</h3>
        </div>
        <div class="col-md-3">
            <img src="../../Content/Image/hufi_ts4.jpg" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:18px">7-Môi trường rèn luyện tốt nhất</h3>
        </div>
    </div>
    <br /><br />
    <div class="row" style="background-color:#f6f1b4; padding-top:40px;padding-bottom:40px">
        <div class="col-md-4"><img src="../../Content/Image/hieu0199.jpg" height="400px" width="400px" align="center"/></div>
        <div class="col-md-8">
            <h1 style="font-size:30px">SINH VIÊN TỐT NGHIỆP HUFI</h1>
            <ul style="list-style:none">
                <li><h2 style="font-size:18px">Chuyên môn giỏi</h2>
                    <p>Lý thuyết vững vàng, thực hành thành thạo; 100% sinh viên tốt nghiệp TDTU có việc làm trong năm đầu tiên.</p>
                </li>
                <li><h2 style="font-size:18px">Kỹ năng đa dạng</h2>
                    <p>Phát triển tối đa năng lực bản thân với các kỹ năng mềm cần thiết: tiếng Anh (IELTS 5.0), Tin học (MOS 750), Sinh tồn (bơi 50m), ...</p>
                </li>
                <li><h2 style="font-size:18px">Đạo đức chuẩn mực</h2>
                    <p>Rèn luyện trong môi trường nghiêm túc: Hiếu thảo với cha mẹ, Thượng tôn pháp luật, Tinh thần phụng sự cộng đồng.</p>
                </li>
            </ul>
        </div>
    </div>
    <br /><br />
    <h1 style="font-size:30px">CÁC KHOA TRONG TRƯỜNG</h1>
    <br />
    <div class="row">
        <div class="col-md-3">
            <img src="../../Content/Image/video-gioi-thieu.jpg" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:20px;text-align:center">Công nghệ thông tin</h3>
        
        </div>
        <div class="col-md-3">
            <img src="../../Content/Image/znwfrvzc0h3eithtwow5s9de-pnfiwhxlbcqbwvkcb_rhrq5cqlipdwywryz35y5r00om_rqrhnnssclp2tipcn33ics0toafikl2bz_-aw.jpg" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:20px;text-align:center">Công nghệ hóa học</h3>
        </div>
        <div class="col-md-3">
            <img src="../../Content/Image/296x167x1-4.jpg" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:20px;text-align:center">Cơ khí</h3>
        </div>
        <div class="col-md-3">
            <img src="../../Content/Image/video-khoa-cong-nghe-may.jpg" height="200px" width="300px" style="margin-bottom:10px"/>
            <h3 style="font-weight:bold;font-size:20px;text-align:center">Công nghệ may</h3>
        </div>

    </div>
</div><br /><br />