@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-danger" style="color:white;font-size:30px;text-align:center;margin-top:80px">TIN TỨC</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <img src="../../Content/Image/corona.jpg" width="100%" />
            <b style="margin-left:40px;font-size:20px">Thông báo Về việc tiếp tục tạm dừng tập trung học tại các cơ sở của Trường</b>
            <p style="margin-left:40px">Toàn thể người học tại HUFI tiếp tục tạm dừng tập trung học tại các cơ sở của Trường đến hết ngày 01/03/2020</p>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-5"><img src="../../Content/Image/thongBao.jpg" width="100%"/></div>
                <div class="col-lg-7">Khuyến cáo về phòng chống bệnh viêm đường hô hấp cấp do vi rút Corona mới</div>
            </div><hr />
            <div class="row">
                <div class="col-lg-5"><img src="../../Content/Image/xuantinhnguyen.jpg" width="100%"/></div>
                <div class="col-lg-7">HUFIers háo hức ra xuân Chiến dịch Xuân Tình Nguyện năm 2020</div>
            </div><hr />
            <div class="row">
                <div class="col-lg-5"><img src="../../Content/Image/gioi-thieu.jpg" width="100%"/></div>
                <div class="col-lg-7">VIETNAM có trường lọt vào top 1000 trường đại học ASEAN.</div>
            </div><hr />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-7">
        
        <div class="row">
            <div class="col-lg-3"><img src="../../Content/Image/8f6b1d621-f.jpg" width="100%"/></div>
            <div class="col-lg-9">
                <b>Lễ khai giảng và trao bằng tốt nghiệp Thạc sĩ</b>
                <p>Năm học 2019 – 2020 là năm học đánh dấu những sự chuyển biến tích cực, ghi nhận những thành tựu quan trọng của tập thể Thầy và trò trường Đại học Công nghiệp Thực phẩm Tp.HCM. Đây là năm học nhà...</p>
            </div>
        </div><hr />
        <div class="row">
            <div class="col-lg-3"><img src="../../Content/Image/hocbong.jpg"  width="100%"/></div>
            <div class="col-lg-9">
                <b>Sinh viên HUFI nhận học bổng Nâng bước thủ khoa 2019</b>
                <p>Ngày 17/12, tại Hội trường thành ủy TP.HCM, Quỹ Hỗ trợ tài năng trẻ Việt Nam và Báo Tiền Phong tổ chức vinh danh và trao học bổng Nâng bước thủ khoa 2019 cho 50 bạn tân sinh viên thủ khoa nghèo vượt...</p>
            </div>
        </div><hr />
        <div class="row">
            <div class="col-lg-3"><img src="../../Content/Image/chungket.jpg"  width="100%"/></div>
            <div class="col-lg-9">
                <b>Chung kết cuộc thi Tìm kiếm tài năng sinh viên – HUFI’s Got Talent 2019</b>
                <p>Nhằm hướng tới chào mừng kỉ niệm 37 năm ngày Nhà giáo Việt Nam, chào mừng kỉ niệm 70 năm ngày truyền thống sinh viên và thành lập hội sinh viên Việt Nam, trường Đại học Công nghiệp Thực phẩm TP HCM đã...</p>
            </div>
        </div><hr />
    </div>
    <div class="col-lg-4"></div>
</div>
