@model TruongCNTP.Models.CHUONGTRINH
@{
    ViewBag.Title = "Xóa thông tin chương trình";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<h2 style="color:red;font-size:30px;text-align:center;margin-top:40px">XÓA THÔNG TIN CHI TIẾT CHƯƠNG TRÌNH</h2>

<fieldset>
    <legend><font color="green">Chắc chắn xóa chưa?<br />Hãy đảm bảo rằng chương trình được xóa đang rỗng!</font></legend>
    <div class="display-label">Mã chương trình: @Model.MaCT</div>
    <div class="display-label">Tên chương trình: @Model.TenCT</div>
</fieldset>
@using (Html.BeginForm())
{
    <button type="submit">Xóa chương trình</button>
    <button>@Html.ActionLink("Trở về","Index","ChuongTrinh")</button>
}
