@{
    ViewBag.Title = "Lịch sử phát triển";
    Layout = "~/Views/Shared/layout1.cshtml";
}
<h2>LỊCH SỬ PHÁT TRIỂN </h2><hr />
<p>1982: Sau ngày thống nhất đất nước, nhu cầu cán bộ công nhân viên chức các ngành, các địa phương ở miền Nam rất lớn. Ngày 09/09/1982 Bộ Công nghiệp Thực phẩm ban hành quyết định 986/CNTP về việc thành lập trường Kinh tế Kỹ thuật Công nghiệp Thực phẩm TP. Hồ Chí Minh nhằm bồi dưỡng, đào tạo đội ngũ cán bộ kinh tế kỹ thuật cho ngành công nghiệp thực phẩm tại phía Nam.<br />

1986: Đại hội lần thứ VI của Đảng xác định đất nước tiến hành đổi mới, nền kinh tế khởi sắc kéo theo nhu cầu lao động là rất lớn. Bộ trưởng Bộ Công nghiệp Thực phẩm (tiền thân của Bộ Công nghiệp) đã ký quyết định số 25/CNTP-TCCB, nâng cấp thành Trường Trung học Công nghiệp Thực phẩm TP. Hồ Chí Minh nhằm đáp ứng việc đào tạo nhân lực kỹ thuật lành nghề về Công nghiệp Thực phẩm.<br />

2001: Với quyết tâm của các thế hệ công chức viên chức là đưa nhà trường phát triển lên tầm cao mới, kết quả phấn đấu không ngừng nghỉ đã được đền đáp là Bộ trưởng Bộ Giáo dục và Đào tạo ký quyết định số 18/QĐ-BGD&ĐT-TCCB, nâng cấp thành Trường Cao đẳng Công nghiệp Thực phẩm TP. Hồ Chí Minh.<br />

2010: Xu thế hội nhập và kết quả phát triển không ngừng của nhà trường, từ ngày 23/02/2010 trường chính thức trở thành Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh theo quyết định số 284/QĐ-TTG của Thủ tướng Chính phủ.</p>
<h2>HIỆU TRƯỞNG QUA CÁC THỜI KỲ</h2><hr />
<img src="../../Content/Image/formerrectors.png" width="100%"/>
