@{
    ViewBag.Title = "Tầm nhìn sứ mạng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row" style="margin-top:80px">
        <div class="col-lg-8">
            <h2>TẦM NHÌN SỨ MẠNG</h2><hr />
            <ul>
                <li>
                    <b>Tầm nhìn đến năm 2030.</b>
                    <p>Đến năm 2030, phát triển Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh theo định hướng ứng dụng hàng đầu của quốc gia, có vị thế trong khu vực và quốc tế, luôn tiên phong trong lĩnh vực khoa học và công nghệ thực phẩm</p>
                </li>
                <li>
                    <b>Sứ mạng</b>
                    <p>Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh là cơ sở giáo dục, đào tạo đa ngành, đa lĩnh vực, đa cấp độ và có thế mạnh trong lĩnh vực khoa học và công nghệ thực phẩm:</p>
                    <p>
                        <ul>
                            <li>Đào tạo nhân lực có đạo đức, tri thức và kỹ năng đáp ứng yêu cầu của xã hội</li>
                            <li>Đẩy mạnh nghiên cứu khoa học, chuyển giao công nghệ và phát triển dịch vụ</li>
                            <li>Thực hiện trách nhiệm xã hội, phục vụ cộng đồng và hội nhập quốc tế</li>
                       </ul>

                    </p>
                </li>
                <li>
                    <b>Gía trị cốt lõi</b>
                    <p>Nhân văn - Đoàn kết - Tiên phong - Đổi mới</p>
                </li>
                <li>
                    <b>Triết lý giáo dục</b>
                    <p>Học tập chủ động, làm việc sáng tạo</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2 style="text-align:center;font-size:20px">CHUYÊN MỤC</h2><hr />
            <div class="row">
                <div class="col-lg-4"><img src="../../Content/Image/dien-chuan-bao-nhieu.jpg" width="100%"/></div>
                <div class="col-lg-8"><a href="Index">Giới thiệu về trường đại học Công nghiệp Thực phẩm TP.HCM</a></div>
            </div><hr />
            <div class="row">
                <div class="col-lg-4"><img src="../../Content/Image/co-cau-to-chuc.png" width="100%"/></div>
                <div class="col-lg-8"><a href="CoCauToChuc">Cơ cấu tổ chức</a></div>
            </div><hr />
            <div class="row">
                <div class="col-lg-4"><img src="../../Content/Image/hieu0199.jpg" width="100%"/></div>
                <div class="col-lg-8"><a href="LichSuPhatTrien">Lịch sử phát triển</a></div>       
            </div><hr />
            <div class="row">
                <div class="col-lg-4"><img src="../../Content/Image/gioi-thieu.jpg" width="100%"/></div>
                <div class="col-lg-8"><a href="TamNhinSuMang">Tầm nhìn sứ mạng</a></div>       
            </div><hr />
        </div>
    </div>
</div>
