@{
    //ViewBag.Title = "Trang chủ admin";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}
<link href="../../Content/css/bootstrap.min.css" rel="stylesheet" />
@{
    var ad = Session["admin"] as TruongCNTP.Models.GIAOVIEN;
}
<br />
<div class="row">
    <div class="col-lg-2">
        <img src="../../Content/Image/personal.png" align="center"/><br />
    </div>
    <div class="col-lg-5">
        Tên giáo viên: @ad.TenGV<br /><br />
        Mã giáo viên: @ad.MaGV<br /><br />
        Địa chỉ: 40 Lạc Long Quân<br /><br />
        Giới tính: Nữ<br /><br />
        
    </div>
    <div class="col-lg-5">
        Năm sinh: 1988<br /><br />
        Quê quán: Thừa Thiên Huế<br /><br />
        Số CMND: 200114569<br /><br />
        Nơi cấp: TP. HCM<br /><br />
        Hệ số GV: 2 <br /><br />
    </div>
</div>